<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="links_box">
        <a href="/" class="a1">Home</a>
        <a href="/publications" class="a2">Publications</a>
        <a href="/create new publication" class="a3">Create new publication</a>
        <a href="/contacts" class="a4">My contacts</a>
    </div>
    {% block body %}{% endblock %}
</body>
</html>