{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <h2 id="Title_of_page">My contacts </h2>
    <p id="Intro_of_page">You can use this page to contact me and offer your publication on the site😉📄</p>
    <div id="Contacts_list">
        <ul class="contacts_list">
            <li><b>Email: </b>hardwork5198@gmail.ocm</li><br/>
            <li><b>Telegram: </b>Klim5198</li><br/>
            <li><b>Twitter: </b>@PervuhinRoman</li><br/>
        </ul>
    </div>
{% endblock %}