{% extends 'base.html' %}

{% block title %}Create new publication{% endblock %}

{% block body %}
    <h2 id="Title_of_page">Create new publication</h2>
    <p id="Intro_of_page">Here you can create the publication🤔🛠</p>
    <div id="create_box">
        <form method="POST">
            <input type="password" name="password" class="create_password" placeholder="Password"/><br/><br/>
            <input type="text" name="title" placeholder="Title" class="create_title"/><br/><br/>
            <input type="text" name="authors_name" placeholder="Your nickname" class="create_nickname"/><br/><br/>
            <input type="text" name="intro" placeholder="A brief description of your publication" class="create_intro"/><br/><br/>
            <textarea name="text" placeholder="Publication text" class="create_text"></textarea><br/><br/>
            <input type="submit" value="Create" class="create_button">
        </form>
    </div>
{% endblock %}